<div class="header"><a href="/"><div class="logo"></div></a></div>
<div class="middle">
		
		<div class="flag">
			<img src="/images/right-side-text.png" style="float:right;margin:-60px -290px 0 0;">
		<%= render 'form' %></div>
</div>
<div class="dudes"><img src="/images/bottom-dudes.png"></div>
