<div class="header"><a href="/"><div class="logo"></div></a></div>
<div class="middle">
	<div class="flag"><%= render 'form' %></div>
</div>
<div class="dudes"><img src="/images/bottom-dudes.png"></div>
